<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BioskopAplikacija</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PrijavaServlet</display-name>
    <servlet-name>PrijavaServlet</servlet-name>
    <servlet-class>servlets.PrijavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrijavaServlet</servlet-name>
    <url-pattern>/PrijavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaServlet</display-name>
    <servlet-name>RegistracijaServlet</servlet-name>
    <servlet-class>servlets.RegistracijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaServlet</servlet-name>
    <url-pattern>/RegistracijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdjavaServlet</display-name>
    <servlet-name>OdjavaServlet</servlet-name>
    <servlet-class>servlets.OdjavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdjavaServlet</servlet-name>
    <url-pattern>/OdjavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikServlet</display-name>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>servlets.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/KorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijaServlet</display-name>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <servlet-class>servlets.ProjekcijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <url-pattern>/ProjekcijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijaJednaServlet</display-name>
    <servlet-name>ProjekcijaJednaServlet</servlet-name>
    <servlet-class>servlets.ProjekcijaJednaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijaJednaServlet</servlet-name>
    <url-pattern>/ProjekcijaJednaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>servlets.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaServlet</display-name>
    <servlet-name>SalaServlet</servlet-name>
    <servlet-class>servlets.SalaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaServlet</servlet-name>
    <url-pattern>/SalaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaServlet</display-name>
    <servlet-name>KartaServlet</servlet-name>
    <servlet-class>servlets.KartaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaServlet</servlet-name>
    <url-pattern>/KartaServlet</url-pattern>
  </servlet-mapping>
</web-app>